@import url(styles/variables.scss);


body
{
width: 100%;
height: 100%;
margin: 0;
font-family: 'Montserrat', sans-serif;
background-color:lightgoldenrodyellow
}

nav
{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    border-top: none;
    background-color: white;
    font-weight: 500;
    position: relative;
    top: 0px;

        ul
        {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 0;

            li 
            {

                margin-top: auto;
                margin-bottom: auto;
              
                :hover
                {
                    cursor: pointer;
                    text-decoration: underline 1px solid black;
                }

            }
    }

}

.modal span 
{
display: flex;
width: 100%;
}

.modal a
{
margin-left: auto;
margin-right: auto;
}



main
{
margin-left: 5%;
margin-right: 5%;


div
{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

}


#searchresults
{

ul 
{
    max-width: 1000px;
  
}


li 
{
    max-width: 70vw;
    height: 200px;
    display: flex;
    border: 1px solid black;
    background-color: white;

    img 
    {
    position: relative;
    height: 90%;
    width: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 1%;
    }

    div
    {
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
      height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    p 
    {
display: flex;
margin: auto;
max-width: 90%;
height: auto;
word-wrap: normal;
    }


}
}

@media (min-width:1700px)
    {
        #searchresults li
        {
        max-width:40vw;

        p 
        {
            padding-left: 5%;
            padding-right: 5%;
        }

        }
    }
       

    @media (max-width:1000px)
    {



        ul 
        {
        width: 90vw;
        min-height: fit-content;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        padding: 0%;
        
        }

        #searchresults h3, #searchresults h4
        {
        font-size: small;
        }

        #searchresults li
        {
        min-width:100% !important;
        padding: 2%;
        font-size: x-small;
        }
    

        
    }


